.todolist_container{
    border: 1px solid black;
    height: 600px;
    width: 500px;
    justify-content: center;
    display: flex;
    padding: 10px;
    background-color:rgb(50, 159, 206);
    border-radius: 20px;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
}
.usertask_container{
    border: 1px solid black;

}
.addbutton{
    border: 1px solid black;
    height: 40px;
    width: 50px;
    border-radius: 10px;
    font-weight: bold;

}
.enterthetable{
    border: 1px solid black;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
    

}
.todotask{
    display: flex;
    flex-direction:bottom;
}
.lstele{
    width: 100px;
    
}
.taskcomplete{
    text-decoration: line-through;
}